body {
    font-family: 'Arial', sans-serif;
    color:#f4da46; /* Couleur dorée */
    background-color: #000; /* Fond noir */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
.hero {
    display: flex;
    justify-content: center;  /* Centre horizontalement */
    
    background-color: #060606; /* Couleur de fond pour le header */
}
.headerlogo {
    width: 200px; /* Vous pouvez ajuster cette valeur selon la taille désirée */
    height: auto; /* Cela permet de conserver les proportions de l'image */

}

/* Style du conteneur de slider */
.diaporama {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0a0a0a; /* Couleur de fond de la section */
}

.slideshow {
    border: 1px solid #f4da46;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 400px;
    margin: auto;
    overflow: hidden;
}

.slides {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.slides.active {
    opacity: 1;
}

.phrasedaccroche h2{
    background: linear-gradient(45deg, #FFD700, #FFC700, #FFB700, #FF9900, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
     font-family: 'Quicksand', sans-serif;  
     font-weight: bold;
}
button {
    background-color: #FFD700;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombre pour donner du relief */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes de taille égale */
    grid-template-rows: repeat(2, 1fr); /* 2 lignes de taille égale */
    height: 100vh; /* La section occupe 100% de la hauteur de la fenêtre */
    gap: 10px; /* Espacement entre les éléments */
}

.grid-item {
    position: relative;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.grid-item.large {
    grid-column: 1 / span 2; /* Occupe les deux premières colonnes */
    grid-row: 1 / span 2; /* Occupe la première ligne */
}

.grid-item.small:nth-child(2) {
    grid-column: 3 / 4; /* Occupe la 3ème colonne */
    grid-row: 1 / 2; /* Occupe la première ligne */
}

.grid-item.small:nth-child(3) {
    grid-column: 4 / 5; /* Occupe la 4ème colonne */
    grid-row: 1 / 2; /* Occupe la première ligne */
}

.grid-item.wide {
    grid-column: 3 / span 2; /* Occupe les colonnes 3 et 4 */
    grid-row: 2 / 3; /* Occupe la deuxième ligne */
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
}
.overlay h2{
    color:  #f0dd76;;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Comic Sans MS', cursive;/* Police personnalisée */
    font-weight: bold; /* Texte en gras */
    font-size: 20px; /* Taille du texte plus grande */  
}


section {
    padding: 60px 20px;
}



section#about {
    display: flex;
    flex-wrap: wrap;
    background-color: #faf8f8; 
    align-items: stretch;
}

section#about p {
    font-family: 'Bookman', 'URW Bookman L', serif;
    font-size: 1.2rem;
    margin: 20px 0 0;
    border-radius: 10px;
}
.container {
    background-color: #0a0909; 
    flex:2; /* Permet de prendre tout l'espace disponible */
    min-width: 300px; /* Assure une largeur minimale pour le texte */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Permet au contenu de s'organiser en colonne */
    justify-content: space-between; 
    align-items: flex-start;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;/* 3 colonnes */
    grid-template-rows: auto 1fr auto ; /* 3 rangées */
    grid-template-areas: 
        "amplificateurs logiciels consoles"
        "parc-micro logiciels systemes-sonorisation"
        "instruments-musique instruments-musique instruments-musique"; /* Positionne les éléments */
    gap: 20px; /* Espacement entre les éléments */
}
.item.amplificateurs {
    grid-area: amplificateurs;
}

.item.consoles {
    grid-area: consoles;
}

.item.logiciels {
    color: #0a0a0a;
    grid-area: logiciels;
    background-color: #e6dca7;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}

.item.parc-micro {
    grid-area: parc-micro;
}

.item.systemes-sonorisation {
    grid-area: systemes-sonorisation;
}

.item.instruments-musique {
    grid-area: instruments-musique;
}

.note {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color:  #f0dd76;; /* Couleur dorée pour la note */
}

.content {
    flex: 1; /* Occupe un tiers de l'espace disponible */
    padding: 20px;
    background-color: #080808; /* Couleur de fond pour visualiser l'espace */
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
/*    align-items: center; /* Centre le contenu verticalement */
}

/* Assurez-vous que les styles pour les images s'appliquent correctement */
section#about .images img {
    max-width: 100%; /* L'image occupe 100% de la largeur de son conteneur */
    border-radius: 10px; /* Ajoute des coins arrondis si désiré */
    height: 100%; 
    align-items: center;
    width: auto;
    object-fit: cover;
    height: calc(100% - 40px);
}

section#pricing-location {
    background-color:#090909;
    padding: 40px;
    color:  #f0dd76;;
}

section#contact {
    text-align: center;
    padding: 40px;
    background-color: #070707;
}

form input, form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color:  #f4da46;
}

button {
    background-color:  #f4da46;
    color: #000;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:  #f4da46;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color:  #f4da46;
}
.social-media {
    text-align: center;
    margin-top: 10px;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.1);
}

/* Styles pour la section de contact */
#contact {
    padding: 20px;
    background-color: #f9f9f9;
   
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
}

#contact h2 {
    text-align: center;
    color: #333;
}

#contact p {
    font-size: 16px;
    color: #666;
    text-align: center;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact label {
    font-weight: bold;
}

#contact input, #contact textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

#contact button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#contact button:hover {
    background-color: #0056b3;
}

.contact-info {
    margin-top: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Espace entre le logo et le texte */
}

.contact-item p {
    margin: 0;
    font-size: 16px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social-media a {
    display: inline-block;
}

.social-media img {
    vertical-align: middle;
}

.logo {
    position: absolute;
    left: 5px;               /* Positionne le logo à gauche avec un petit espace */  
               /* Vous pouvez ajuster cette valeur pour l'alignement vertical */
}

.div-contact {
    max-width: 600px;         /* Limite la largeur du formulaire */
    text-align: center;       /* Centre le texte à l'intérieur du formulaire */
}

.div-contact form {
    display: flex;
    flex-direction: column;   /* Aligne les éléments du formulaire verticalement */
    gap: 10px;                /* Ajoute de l'espace entre les éléments du formulaire */
}


section#contact .container-contact p{
    color:#f4da46; /* Couleur dorée */    
}

section#contact .container-contact h2{
    color:#f4da46; /* Couleur dorée */    
}
form label[for="name"] {
    color: #afacac; /* Couleur pour "Nom" */
}

form label[for="email"] {
    color: #afacac; /* Couleur pour "Email" */
}

form label[for="message"] {
    color: #afacac; /* Couleur pour "Message" */
}
/* Pour les petits écrans (mobiles) */


.footer {
    border-top: 3px solid #3498db; /* Bordure en haut avec la couleur bleue */
    padding: 20px; /* Espace intérieur du footer */
    background-color: #0e0e0e; /* Couleur de fond du footer */
    text-align: center; /* Centrer le texte */
}
.footer p{
    font-family: 'Bookman', 'URW Bookman L', serif;
    font-size: 1.2rem;   
}

